SANDBOX_TYPE=langsmith
SANDBOX_LANGSMITH_API_KEY=
# Match this to the LangSmith organization region.
# US: https://api.smith.langchain.com
# EU: https://eu.api.smith.langchain.com
# APAC: https://apac.api.smith.langchain.com
# AWS US: https://aws.api.smith.langchain.com
SANDBOX_LANGSMITH_ENDPOINT=https://api.smith.langchain.com
